/* QWidget{
    color: #000;
    background-color: #777;
}
QTextEdit{
    background-color: #ddd;
}
QPushButton{
    background-color: #999;
    border: none;
}
QLineEdit{
    background-color: #999;
} */
QWidget{
    font-size: 12px;
    font-family: LiberationSans;
}
CardButton{
    border: none;
}